output.wav
lib/
bin/
src.zip
server_data.json

# Ignore built class files
app/build/

# Ignore gradle temp files
.gradle/

# Ignore linter files
build/tmp/

# Ignore a VSCode file
.vscode/settings.json

# Login Credentials
app/Secure_Credentials.txt

# Ignore programmer specific config.json
config.json

